<!DOCTYPE html>
<html>
  <head>
    <title>Green Byte Bistro</title>
  </head>
  <body>
    <%- include('partials/navbar') %>
    <h1>Welcome to <%= restaurant.name %></h1>
    <p>We are located at: <%= restaurant.address %></p>
    <p>Call us at: <%= restaurant.phone %></p>
  </body>
</html>
